
<div class="crud">
  <div class="row">
    <div class="col-sm-6 text-center">
      <img routerLink="/spinwheel" class="ima1" src="../../assets/spinwheel.png" alt="spinwheel">
      <!-- <app-notification-crud></app-notification-crud> -->
      <br>
      <button routerLink="/spinwheel" class="nav-btn btn btn-warning mt-25 w-50">Spin Wheel</button>
    </div>
    <div class="col-sm-6 text-center">
      <img routerLink="/notification" class="ima1" src="../../assets/notific.JPG" alt="notification">
      <!-- <app-rewards-crud></app-rewards-crud> -->
      <br>
      <button routerLink="/notification" class="nav-btn btn btn-warning w-50">Notification</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
