body{
  background-image: url("../../assets/Image 1.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 900px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.ima1
{

  border-radius: 10px;
  height: 200px;
  width: 250px;
  margin-bottom: 25px;

}

.top-navi{
  background-color: #3c1361;
  background-image: linear-gradient(to right, rgb(21, 21, 21) , rgb(66, 34, 96),rgb(66, 34, 96),rgb(66, 34, 96),rgb(21, 21, 21));
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  font-size: large;
  color: white;
}
.navi{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap : 40px;

}
.titleanimations{
  margin:0;
  border-color: #FFD700 yellow #FFD700 yellow;
  border-style: dashed;
  border-width: 3px;
  animation-name: borderstyle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  padding:0px 10px;
  border-radius: 5px;
}

@keyframes borderstyle {
  50%{border-color: black;color: white;}
}
.cont1
{

  padding: 10px;
  height: 880px;


}
.cont2
{
  padding: 50px;
  background-color: rgba(63, 62, 62, 0.8);
  background-size: 1805px 836px;
}
.ima
{
  display: flex;
  justify-content: space-between;
  gap : 40px;
}
.button
{
  display: flex;
  justify-content: space-between;
  gap : 40px;
}
.b1{
  width: 250px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
  justify-content: center;
  background-color: #FFD700;
  text-align: center;

}
.bday
{
  background-color: rgba(54, 3, 54, 0.8);
  padding: 5px;
  display:flex;
  gap:40px;
  padding: 20px;
  justify-content: space-between;
}

.crud{
  color:white;
  padding: 50px;
  background-color: rgba(105, 101, 101, 0.8);
  height:auto;
}

.bottom-navi{
  background-color: #2f0f4b;
  background-image: linear-gradient(to right, rgb(21, 21, 21) , #200b34,#200b32,#200b34,rgb(21, 21, 21));
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  opacity: 1;
}

.nav-btn{
  font-size: larger;
  color:white;
  font-weight: bold;
}
