<div class="head">
  <div class="top-navi">
    <div class="logo">
      <img src="../../assets/logo.png">

    </div>
    <div class="navi">
      <span class="headings">Home</span>
      <span class="headings">About</span>
      <span routerLink="admin-dashboard" class="headings">Spin for win</span>
      <span class="headings">Help Desk</span>
      <span class="headings">Comp Predictor</span>
      <span class="headings">Subscriptions</span>
      <span class="headings">Top Up</span>
      <span class="headings">Settings</span>
    </div>
  </div>
  <div class="bottom-navi">
    <div>
      <h2 class="titleanimations">SPIN 2 WIN</h2>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
