<div class="container-fluid">
  <h1>Spin To Win</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Spin Wheel
        </div>
        <div class="card-body">
          <app-spin-wheel></app-spin-wheel>
          Wheel & Button
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width:200px">
        <img src="https://img.freepik.com/free-psd/3d-megaphone-speaker_23-2148938921.jpg?w=740&t=st=1684663051~exp=1684663651~hmac=a20ff27adfd0bc8d42f8b14e7171ffdc421e5bc8ac19959fcb870563b4508cba" alt="Notification" class="card-img-top">
        <div class="card-body">
          <h5>Notification</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            Advertisement
          </div>
          <div class="card-body">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis magni accusamus tempore accusantium? Deleniti consequuntur natus, officia libero eius et fugit similique! Eligendi eveniet quod temporibus impedit similique mollitia. Totam!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-spin-wheel></app-spin-wheel> -->


